---
import Card from '$components/card/card.astro';
import MonthDate from '$components/dates/monthDate.astro';
import MainLayout from '$layouts/main.astro';
import { getPayloadInstance } from '$lib/util';
import { undefined } from 'astro:schema';
const payloadUri = process.env.PAYLOAD_URL || 'http://localhost:3000'

const payload = await getPayloadInstance();

const blogs = await payload.find({
  draft: import.meta.env.DEV,
  collection: 'blogs',
  limit: 0,
});

const groupedBlogs = blogs.docs.reduce((all, blog) => {
  const monthDate = new Date(blog.updatedAt).toLocaleDateString(undefined, { month: 'long', year: 'numeric'});
  if(!all[monthDate]) all[monthDate] = [];
  all[monthDate].push(blog)
  return all;
}, {} as Record<string, typeof blogs.docs[number][]>);

---
<MainLayout>
  <div class="col-start-2 -col-end-2 grid grid-cols-subgrid mt-8 grid-rows-3">
    <main class="col-span-8 p-4 grid grid-cols-subgrid">
      <h1 class="h1 mb-4 col-span-12">Blogs</h1>
      {blogs.docs.map(blog => (
        <Card class="col-span-2" >
          <div class="contents" slot="header">

            { blog.header && typeof blog.header === 'object' && <img src={`${payloadUri}${blog.header.url}`} alt={blog.header.alt}/>}
            {/* {blog.header && <img src={`${strapiUrl}${blog.header.formats.thumbnail.url}`} class="w-full" alt="Header Image" />} */}
            <a href={`/blogs/${blog.slug}`} class="text-lg">
              {blog.title}
            </a>
          </div>
          
          <span>
            <MonthDate timestamp={blog.publishedAt || blog.updatedAt} />
          </span>
          
        </Card>
      ))}

      {blogs.docs.length === 0 && (<p class="col-start-1 -col-end-1">No blogs; check back soon!</p>)}

    </main>
    <aside class="bg-zinc-700 rounded-xl p-3 mb-4 col-span-2 row-span-3">
      <h3 class="mb-6">
        Archives
      </h3>
      <dl>

        {
          Object.entries(groupedBlogs).map(([monthYear, entries]) => (
            <>
              <dt class="font-bold">{monthYear}</dt>
              {
                entries.map(entry => (
                  <dd class="ml-5 overflow-ellipsis">
                    <a href={`/blogs/${entry.slug}`}>
                      {entry.title}
                    </a>
                  </dd>
                ))
              }
            </>
          ))
        }
        {Object.values(groupedBlogs).length === 0 && (<p>There are no blogs currently available</p>)}
      </dl>
    </aside>
    
  </div>

</MainLayout>
