---
import Card from '$components/card/card.astro';
import MonthDate from '$components/dates/monthDate.astro';
import MainLayout from '$layouts/main.astro';
import { listBlogs } from '$lib/blogs';
import { paginateFunction, strapiUrl } from '$lib/pagination';
import type { ApiBlogBlog as ApiBlogs } from '$types/contentTypes';

const blogs = await listBlogs();
// We have to make it so that all of the blogs get populated to have an archive on the sidebar.
const allBlogs = await paginateFunction<ApiBlogs['attributes']>(listBlogs).then(
  (r) => {
    const groups = r.reduce(
      (all, cur) => {
        const monthYear = new Date(
          cur.publishedAt || cur.updatedAt,
        ).toLocaleDateString(undefined, {
          year: 'numeric',
          month: 'long',
        });
        if (!all[monthYear]) all[monthYear] = [];
        all[monthYear].push(cur);
        return all;
      },
      {} as Record<string, typeof r>,
    );
    return groups;
  },
);
---
<MainLayout>
  <div class="col-start-2 -col-end-2 grid grid-cols-subgrid mt-8 grid-rows-3">
    <main class="col-span-8 p-4 grid grid-cols-subgrid">
      <h1 class="h1 mb-4 col-span-12">Blogs</h1>
      {blogs.data.map(blog => (
        <Card class="col-span-2" >
          <div class="contents" slot="header">
            {blog.header && <img src={`${strapiUrl}${blog.header.formats.thumbnail.url}`} class="w-full" alt="Header Image" />}
            <a href={`/blogs/${blog.slug}`} class="text-lg">
              {blog.title}
            </a>
          </div>
          
          <span>
            <MonthDate timestamp={blog.publishedAt || blog.updatedAt} />
          </span>
          
        </Card>
      ))}

      {blogs.data.length === 0 && (<p class="col-start-1 -col-end-1">No blogs; check back soon!</p>)}

    </main>
    <aside class="bg-zinc-700 rounded-xl p-3 mb-4 col-span-2 row-span-3">
      <h3 class="mb-6">
        Archives
      </h3>
      <dl>

        {
          Object.entries(allBlogs).map(([monthYear, entries]) => (
            <>
              <dt class="font-bold">{monthYear}</dt>
              {
                entries.map(entry => (
                  <dd class="ml-5 overflow-ellipsis">
                    <a href={`/blogs/${entry.slug}`}>
                      {entry.title}
                    </a>
                  </dd>
                ))
              }
            </>
          ))
        }
        {Object.values(allBlogs).length === 0 && (<p>There are no blogs currently available</p>)}
      </dl>
    </aside>
    
  </div>

</MainLayout>
