---
import { getCollection, render } from "astro:content";
import Main from "../../layouts/main.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("stories", (e) => import.meta.env.NODE_ENV !== 'production' || !e.data.draft);
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const storiesCollection = await getCollection('stories', (e) => {
  return import.meta.env.NODE_ENV !== 'production' || !e.data.draft
});

// Sort the items by chapter
storiesCollection.sort((a, b) => a.data.chapter - b.data.chapter)

const { entry } = Astro.props;
const { Content } = await render(entry);

const readingTime = Math.ceil(entry.body.split(/\s+/).length /250);

---
<Main>
  <div class="lg:col-span-6 md:col-span-8 md:col-start-3 lg:col-start-4 col-span-12 px-6 md:px-0 pb-10">
    <h1 class="title text-4xl text-center font-sans font-bold my-4">{entry.data.title} </h1>
    <h2 class="chapter-title text-2xl text-center my-3 text-zinc-300">
      {entry.data.chapter === 0 ? 'Prologue': `Chapter ${entry.data.chapter}`}
    </h2>
    <h3 class="text-center mb-6">
      <small>
        Approx. {readingTime} minutes
      </small>
    </h3>
    <Content />
  </div>
  <div class="hidden md:block md:col-span-2">
    <ol class="mt-9 ml-4 sticky top-20">
      {storiesCollection.map(chapter => (
        <li class={chapter.id === entry.id? 'font-bold' : undefined}>
          <a href={`/stories/${chapter.id}`}>{chapter.data.chapter === 0 ? 'Prologue': `Chapter ${chapter.data.chapter}`}</a>
        </li>
      ))}
    </ol>
  </div>
</Main>

<style is:global>
  p {
    line-height: theme('spacing.6');
  }
  p + p {
    text-indent: theme('spacing.6');
    margin-top: theme('spacing.2');
    line-height: theme('spacing.6');
  }
  
</style>