---
import { getPayloadInstance } from '$lib/util';
import MainLayout from '../../layouts/main.astro';
import { listStories } from '../../lib/stories';
import { RichText } from '@payload-bites/astro-richtext-renderer';

const payload = await getPayloadInstance();
// import { getCollection } from 'astro:content';
const stories = await payload.find({
  collection: 'stories',
  limit: 0,
  draft: import.meta.env.DEV,
  depth: 1,
  select: {
    chapters: true,
    slug: true,
    title: true,
    description: true,
  }
});

---

<MainLayout>
  <section class="col-span-12 @lg/main:col-span-8 @lg/main:col-start-3 p-4" id="main-info">
    <h1 class="title text-4xl text-center font-black mb-3 mt-4">Stories</h1>
    <p>
      The stories that I&apos;ve written over the years are generally a mix of random things
    </p>
    <main>
      {
        stories.docs &&
        stories.docs.map(story => (

        <article class="border p-3 rounded-md">
          <a href={`/stories/${story.slug}/${story.chapters[0]?.slug}`}>
              <header class="flex justify-between items-center">
                <h2 class="title text-2xl font-black">
                  {story.title}
                  <small>
                    &ndash; {story.chapters.length} Chapter(s)
                  </small>
                </h2>
              </header>
            </a>
            <RichText data={story.description}></RichText>
          </article>
        ))
      }
      {
        stories.docs && stories.docs.length === 0 && (
          <div class="text-center mt-6">
            There are currently no stories available
          </div>
        )
      }
    </main>
  </section>
  <div class="col-start-11 col-span-2" id="side-info">
  </div>
</MainLayout>

<style>
  main article + article {
    margin-top: theme("spacing.4");
  }
</style>
